* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.box1,
.box2,
.box3 {
  width: 48%;
  height: 30rem;
  background: lightslategray;
  border: 2px solid black;
  margin: 0.5%;
  font-size: 2rem;
  padding: 1rem;
}

.box1 {
  float: left;
}

.box2 {
  float: right;
}

.clear {
  clear: both;
}

.box3 {
  width: 100%;
}
