* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
}

a {
  display: inline-block;
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  background-color: slategray;
  /* display: block;
  background-color: slateblue;
  height: 3rem;
  text-align: center;
  padding: 1rem; */
}

img {
  height: 1rem;
  width: 1rem;
}
